/* Typography */

$font-base: "Segoe UI", system-ui, sans-serif;
$font-size-base: 16px;

/* Colors */

$c-gray-3: #333;
$c-gray-5: #555;
$c-gray-8: #888;

$c-border: #e0e0e0;
$c-accent: #d1e8ff;
$c-accent-bold: #5aabff;
$c-error: #c0392b;

$bg: #fff;
